---
import Layout from "../../layouts/Layout.astro";
import CardPage from "../../components/myaadhaar/CardPage.astro";
import Hero from "../../components/myaadhaar/Hero.astro";
---

<Layout title="MyAadhaar">
    <main>
        <Hero />
        <CardPage />
    </main>
</Layout>