<div class="container">
  <div class="upper">
    Services which require phone number to be registered with Aadhar
  </div>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/DocumentUpdate.65ceb110c91e80681e8b8d81fbbd44e4.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">Document Update</div>
      <div class="info">
        Click Here to upload your proof of identity (PoI) and Proof of
        Address(PoA) Documents.
      </div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/DownloadAadhaar.c1cb872f847e9e40227110d1d5bdff97.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">Download Aadhar</div>
      <div class="info">
        Click Here to download digitally signed and password protected
        electronic copy of Aadhar.
      </div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/RetrieveUid.3698f8e5b238aa5ba45d9710992b3398.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">Retrieve EID/Aadhar Number</div>
      <div class="info">
        Click Here to find out Aadhar number or enrollment ID.
      </div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/VerifyMobile.f06f31ed18f9d433e05fef4dc2a6455f.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">Verify Email/mobile</div>
      <div class="info">
        Click Here to verify mobile and email registered with Aadhar.
      </div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/GenerateVirtualId.4f686149814e69a1ff90ca4dc02317e5.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">VID Generator</div>
      <div class="info">
        Click Here to generate your 16-digit Virtual ID linked to your Aadhar.
      </div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/AadhaarLockUnlock.7faddebf064081edbde95ebc14d0c95c.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">Lock/Unlock Aadhar</div>
      <div class="info">
        Click Here to temporarily lock/unlock your aadhar.Please use this
        service carefully.
      </div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
  <a href="./myaadhaar/login" class="card">
    <div class="cardcontent">
      <div class="cardimg">
        <img
          src="https://myaadhaar.uidai.gov.in/static/media/BankLinking.2f5998ed8452667406cb93aa5298209b.svg"
          alt="Service Icon"
        />
      </div>
      <div class="title">Bank Seeding Status</div>
      <div class="info">Click Here to find you bank seeding status.</div>
    </div>
    <div class="arrow">
      <img
        class="arrowimage"
        src="https://myaadhaar.uidai.gov.in/static/media/arrowRight.36a2fb68edf604ae8a0b73169525cdb3.svg"
        alt="arrow"
      />
    </div>
  </a>
</div>

<style>
  .upper {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    padding: 0px 16px 16px 16px;
    width: 100%;
  }
  .container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin: 0px 0px 6px 0px;
  }
  .info {
    font-size: 14px;
    font-family: Roboto, sans-serif;
  }
  .card {
    display: inline-block;
    margin: 20px;
    padding: 10px 16px 10px 16px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 1px #32325d40;
    width: 250px;
    height: 203px;
    overflow: hidden;
  }
  .arrowimage {
    height: 30px;
    width: 30px;
    margin-left: auto;
    padding-bottom: 5px;
    opacity: 0;
    transition: opacity 500ms ease;
  }
  .card:hover .arrowimage {
    opacity: 1;
  }
  .cardcontent {
    transition: transform 500ms ease;
  }
  .card:hover {
    border-bottom: 5px solid rgb(20, 20, 184);
    border-radius: 6px;
  }
  .card:hover .cardcontent {
    transform: translateY(-50%);
  }
  .cardimg {
    width: 62px;
    height: 40px;
    margin: 16px 10px 16px;
  }
</style>
