<div class="bg-gradient-to-r from-blue-950 to-blue-400 h-10 flex justify-between items-center text-white mt-4">
    <div class="flex flex-row ml-60">
      <ul class="flex flex-row gap-4">
        <li>
          <a href="./myaadhaar" class="text-white hover:text-white hover:no-underline">My Aadhaar</a>
        </li>
        <li>
          <a href="./aboutuidai" class="text-white hover:text-white hover:no-underline">About UIDAI</a>
        </li>
        <li>
          <a href="./ecosystem" class="text-white hover:text-white hover:no-underline">Ecosystem</a>
        </li>
        <li>
          <a href="./mediaandresources" class="text-white hover:text-white hover:no-underline">Media & Resources</a>
        </li>
        <li>
          <a href="./contactsupport" class="text-white hover:text-white hover:no-underline">Contact Support</a>
        </li>
      </ul>
    </div>
    <div class="mr-60">
      <input type="search" class="bg-white h-8 px-4 rounded-md" placeholder="Search">
    </div>
  </div>