<div class="bg-sky-700 bg-opacity-80 text-white py-10">
  <div class="container px-32">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div>
        <h2 class="text-xl font-bold mb-4">Contact Us:</h2>
        <div class="mb-4">Toll free : 1947</div>
        <div class="mb-4">
          <a href="mailto:help@uidai.gov.in"> help@uidai.gov.in </a>
        </div>
        <h2 class="text-xl font-bold mb-4">To Collaborate, email to us:</h2>
        <a href="mailto:collaborate@uidai.net.in"> collaborate@uidai.net.in </a>
      </div>
      <div>
        <h2 class="text-xl font-bold mb-4">UIDAI Head Office</h2>
        <p>Unique Identification Authority of India</p>
        <p>Government of India (GoI)</p>
        <p>Bangla Sahib Road, Behind Kali Mandir, Gole Market,</p>
        <p>New Delhi - 110001</p>
        <h2 class="text-xl font-bold mt-4 mb-4">Regional Offices</h2>
        <select class="bg-white text-black p-2 rounded">
          <option>Kolkata</option>
          <option>Hyderabad</option>
          <option>Bangalore</option>
          <option>Jaipur</option>
          <option>Pune</option>
          <option>Surat</option>
          <option>Lucknow</option>
          <option>Coimbatore</option>
        </select>
        <p class="mt-4">UIDAI Regional Office, Delhi</p>
        <p>
          Ground Floor, Supreme Court Metro Station, Pragati Maidan, New
          Delhi-110001
        </p>
      </div>
      <div>
        <h2 class="text-xl font-bold mb-4">Website Policy</h2>
        <ul>
          <li><a href="#" class="text-white">Website Policy</a></li>
          <li><a href="#" class="text-white">Terms & Conditions</a></li>
          <li><a href="#" class="text-white">Privacy Policy</a></li>
          <li><a href="#" class="text-white">Hyperlinking Policy</a></li>
          <li><a href="#" class="text-white">Copyright Policy</a></li>
          <li><a href="#" class="text-white">Disclaimer</a></li>
          <li><a href="#" class="text-white">Help</a></li>
          <li><a href="#" class="text-white">Feedback</a></li>
          <li><a href="#" class="text-white">Sitemap</a></li>
        </ul>
      </div>
      <div>
        <h2 class="text-xl font-bold mb-4">Government of India</h2>
        <ul>
          <li><a href="#" class="text-white">My Gov</a></li>
          <li><a href="#" class="text-white">National Portal of India</a></li>
          <li><a href="#" class="text-white">Digital India</a></li>
          <li><a href="#" class="text-white">GST.gov.in</a></li>
          <li><a href="#" class="text-white">DBT Bharat</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-sky-700 text-white text-left text-sm py-4">
  <div class="container mx-auto px-12">
    <p>
      Copyright © 2022 Unique Identification Authority of India All Rights
      Reserved
    </p>
    <p>JavaScript must be enabled to access this site.</p>
    <p>
      Supports : Firefox 37+ | Google Chrome 6.0+ | Internet Explorer 9.0+ |
      Safari 4.0+
    </p>
    <p>
      UIDAI website translation is done by Bhashini Machine Translation which
      may not be correct. This is done on experimental basis and will be
      improved over a period of time. Kindly ignore the errors if any.
    </p>
    </div>
</div>
