---
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Login">
  <div class="border-b border-black p-2">
    <Header />
  </div>
  <div class="flex flex-col justify-center items-center mx-80 mt-4">
    <p class="text-blue-950 font-semibold">Login to Aadhaar via OTP</p>
    <div class="h-full w-96 rounded-xl shadow-lg overflow-hidden mt-4">
      <div class="h-1 bg-gradient-to-r from-blue-950 to-blue-400"></div>
      <form class="p-4">
        <input
          type="text"
          class="p-4 w-full text-lg mb-4"
          id="aadhaarNumber"
          placeholder="Enter Aadhaar Number"
        />
        <div class="flex flex-row gap-2 items-center justify-between">
          <input
            type="text"
            class="p-4 w-1/2 text-lg mb-4"
            id="captcha"
            placeholder="Enter Captcha"
          />
          <img src="" alt="captcha" class="w-1/2"/>
        </div>
        <button
          class="bg-gradient-to-r from-blue-950 to-blue-400 text-white p-2 w-full rounded-xl"
          >Login with OTP</button
        >
      </form>
    </div>
  </div>
  <div
    class="fixed bottom-0 left-0 right-0 p-4 bg-blue-950 text-white text-center"
  >
    Copyright © 2024 Unique Identification Authority of India All Rights
    Reserved
  </div>
</Layout>
